/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL BODY */
body {
  font-family: 'Segoe UI', sans-serif;
  background: radial-gradient(circle at top, #020617, #000000);
  color: #ffffff;
}

/* OPTIONAL SCROLLBAR */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #22c55e;
}

